<%- include('partial/header') %>
<body>

    <div class="container">
        <header>
            <h1><%= pageTitle %></h1>
        </header>
    
        <section>
            <div class="wallet-info">
                    <div class="wallet-card">
                        <div class="w-img">
                                <image src="images/cw-bg.png"></image>
                        </div>
                        <div class="text-center mb-3">
                                <a href="/create-account"><button class="btn btn-primary">Create New Account</button></a>
                                <a href="/import-account"><button class="btn btn-primary" >Import Account</button></a>
                            </div>
                    </div>
                
                <!-- Add more wallet information here -->
            </div>
        </section>
    </div>

</body>

<%- include('partial/footer') %>